h2
{
    font-weight: 600;
}

.sectionTittles
{
    font-size: 64px;

}

body
{
    background-color: #EDEDED;
}

h6
{
font-weight: 400;
}
/* NAV BAR START */
.navDad
{
    padding-top: 2rem;
   
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(30, 4rem);
    grid-template-rows: repeat(4, auto);
    
}

#logo
{

    width: 8rem;
    height: auto;
    grid-column: 3 / span 3;
    grid-row: 1 / 5;

}

.navButtns
{
    color: #292828;
    text-decoration: none;
    text-align: center;
    grid-row: 2 / span 2;
    font-size: 20px;
    font-weight: 600;
}



#navLink1
{
    grid-column: 12 / span 2;
    grid-row: 2 / span 2;
}

#navLink2
{
    grid-column: 14 / span 2;
    grid-row: 2 / span 2;
}

#navLink3
{
    grid-column: 16 / span 2;
    grid-row: 2 / span 2;
}

#navLink4
{
    grid-column: 18 / 19;
    grid-row: 2 / span 2;
    color:#B73A2A;
    
}

a:hover 
{
    color: #D76151;
    border-bottom: solid #D76151 2px;
}
/* NAV BAR END */
/* HERO START */

.hero
{
    width: 100%;
    height: auto;
    

}

.heroGrid
{

 position: relative;

   

} 

.heroText
{
    position: absolute;
    color: white;
    background-color:#181818CC;
    font-size: 48px;
    left: 8%;
    bottom: 22%;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 32px;
    padding-right: 32px;

}

/* HERO END */

/* SALE $10 START */

.sale
{
    font-size: 24px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1E2C20;
    margin-bottom: 4rem;
}

/* SALE $10 END */

/* JUST COOKING START */

.cookingTittle
{
    margin-top: 80px;
    margin-bottom: 40px;
}

.cookingImg
{
    width: 100%;
    height: 347px;
    border-radius: 10px;
}


/* JUST COOKING END */

/* NEW ARRIVALS START */

.arrivalsImg
{
    width: 100%;
    height: 632px;
    border-radius: 10px;
}

.appleCinnamon{
    font-weight: 600;
}


  .dot1
  {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: #EA2D2C;
    border: solid black 2px;
   
  }

  .dot2
  {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FB5108;
   
  }

  .dot3
  {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: #D29D12;
   
  }

  .dot4
  {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: #353535;
 
  }
/* NEW ARRIVALS END */

/* BEST SELLERS START */

.bestTittle
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.bestContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.bestSellers
{
    border: solid black 1px;
    padding: 24px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 497;
}

.bestSellersStockPot
{
    max-height:600px;
    border: solid black 1px;
    padding: 24px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 497;

}

.bestSellersImg
{
    width: 449px;
    height: 338px;
}

.marginBottom
{
    margin-bottom: 40px;
}

.smalllerMarginBottom
{
    margin-bottom: 20px;
}

.ShopBtn
{

    border-width: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #EDEDED;

}

.saucePanBtn
{
    border-width: 1px;
    margin-top: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #EDEDED;
   
}

button:hover
{
    background-color: black;
    color: white;
}


/* BEST SELLERS END */

/* REVIEWS START */

.reviewsTittle
{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.reviewImages
{
    border-radius: 10px;
    width: 531px;
    height: 664.75px;
    margin-bottom: 50px;
}

.absolute
{
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
}

.center
{
    align-content: center;
}

.textCenter
{
    text-align: center;
}

.reviewText1
{
    position: absolute;
   
    color: white;
    background-color: #12121299;
    bottom: 24%;
    right: 10%;
    width: 426px;
    height: 345px;
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 73px;
    padding-bottom: 73px;
    
   
}

.reviewText2
{
    position: absolute;
    
    color: white;
    background-color: #12121299;
    bottom: 24%;
    right: 10%;
    width: 426px;
    height: 345px;
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 73px;
    padding-bottom: 73px;
    
   
}

.reviewText3
{
    position: absolute;
    
    color: white;
    background-color: #12121299;
    bottom: 24%;
    right: 10%;
    width: 426px;
    height: 345px;
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 73px;
    padding-bottom: 73px;
    
   
}

/* REVIEWS END */


/* FOOTER START */

.footerBg
{
    background-color: #1E2C20;
    padding: 80px;
}

.weightedText
{
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.slimmerText
{
    color: white;
    font-weight: 300;
    font-size: 16px;
}


/* FOOTER END */





@media (min-width: 0px) and (max-width: 996px) {
    
    .bestContainer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .footerBg
    {
        background-color: #1E2C20;
       padding: 0px;
    }

    


    .weightedText
    {
        color: white;
        font-weight: 600;
        font-size: 20px;
        
    }
    
    .slimmerText
    {
        color: white;
        font-weight: 300;
        font-size: 16px;
    }


    .navDad
    {
        padding-top: 2rem;
       
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(30, auto);
        grid-template-rows: repeat(4, auto);
        
    }

}